/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  text-wrap: balance;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1,
.fs-900 {
  font-size: var(--fs-900);
}

h2,
.fs-800 {
  font-size: var(--fs-800);
}

h3,
.fs-700 {
  font-size: var(--fs-700);
}

h4,
.fs-600 {
  font-size: var(--fs-600);
}

h5,
.fs-500 {
  font-size: var(--fs-500);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-300 {
  font-size: var(--fs-300);
}

.fs-200 {
  font-size: var(--fs-200);
}

a {
  text-decoration: none;
}

a.text {
  text-decoration: underline;
  color: inherit;
}

p {
  font-size: var(--fs-200);
  margin-bottom: 0.2rem;
  text-wrap: pretty;
}

b,
.text-emphasis {
  font-weight: 600;
}

.text-italic {
  font-style: italic;
}

.text-muted {
  color: hsl(var(--clr-neutral-500));
}

b,
i {
  font-size: inherit;
}

/* /////////////////////////
  BADGES
///////////////////////// */

.badge {
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsl(var(--clr-neutral-200));
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
  font-weight: 500;
  height: fit-content;
  text-align: center;
  text-wrap: nowrap;
}

/* /////////////////////////
  DATA CELL
///////////////////////// */

.data-cell {
  color: hsl(var(--clr-neutral-500));
  margin-bottom: 1.2rem;
}

.data-cell.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
  margin-bottom: 0.4rem;
}

.data-cell span {
  font-size: var(--fs-300);
  display: block;
  margin-top: 0.2rem;
}

.data-cell.flex span {
  font-size: var(--fs-200);
  margin-top: 0;
}

/* /////////////////////////
  OTHER
///////////////////////// */

.interpunct {
  background-color: hsl(var(--clr-neutral-900));
  display: inline-block;
  --size: 0.4rem;
  width: var(--size);
  aspect-ratio: 1;
  min-width: var(--size);
  border-radius: 50%;
}
